.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 10px;
}

.logo {
    flex: none;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.title {
    flex: none;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 0;
    color: white;
    -webkit-text-stroke: 2px black;
}
