@font-face {
    font-family: "PokemonHollow";
    src: url("../../../assets/fonts/pokemon-hollow.ttf");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("../../../assets/fonts/pokemon-solid.ttf");
}

@font-face {
    font-family: "DoctorSoosBold";
    src: url("../../../assets/fonts/doctor-soos-bold.ttf");
}

@font-face {
    font-family: "DoctorSoosLight";
    src: url("../../../assets/fonts/doctor-soos-light.ttf");
}

body {
    font-family: "DoctorSoosLight";
    color: black;
}

.outterContainer {
    min-height: 100vh;
    background-color: #FFDE00;
}

.innerContainer {
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}
