.teamList,
.statsList {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.statsList > li {
    color: white;
    font-size: 1rem;
}

.teamHeader {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    border-radius: 999rem;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    color: white;
    background-color: #CC0000;
}

.teamList {
    margin: 0 -10px;
}

.pokemonCard {
    overflow: hidden;
    display: inline-block;
    height: 180px;
    padding: 20px;
    margin: 10px;
    position: relative;
    background-color: #3B4CCA;
    border-radius: 6px;
    box-shadow: 2px 2px 2px #B3A125;
}

@media (min-width: 0px) {
    .pokemonCard {
        width: calc((100% / 1) - (20px * 3));
    }
}

@media (min-width: 600px) {
    .pokemonCard {
        width: calc((100% / 2) - (20px * 3));
    }
}

@media (min-width: 900px) {
    .pokemonCard {
        width: calc((100% / 3) - (20px * 3));
    }
}

.pokemonName {
    display: block;
    margin: 0 0 10px 0;
    line-height: 2;
    border-bottom: 1px solid #FFDE00;
    color: #FFDE00;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.pokemonSprite {
    float: left;
    background: white;
    margin-top: 5px;
    margin-right: 10px;
    display: block;
    width: 96px;
    height: 96px;
}

.deletePokemonButton {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100%;
}

.deletePokemonButton:hover {
    cursor: pointer;
    background-color: #CC0000;
    color: white;
}

.loadingMessage {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.componentLoading {
    padding: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #B3A125;
    text-align: center;
}

.componentError {
    padding: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: #CC0000;
    text-align: center;
}

.zeroStateMessage {
    font-weight: bold;
    font-size: 1rem;
    color: #B3A125;
    text-align: center;
}
